<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home page </title>
</head>
<body>
    <p>Hello, This is home page. </p>
    <form action="/traveller">
        <input type="submit" value="Traveller" />
    </form><br>
    <form action="/travel_agency">
        <input type="submit" value="Travel Agecny" />
    </form><br>
    <form action="/employee">
        <input type="submit" value="Admin" />
    </form>
</body>
</html>