<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add Traveller </title>
</head>
<body>
    {% if user %}
    New Traveller added successfully, the details are as follows.<br>
    Traveller ID: {{ user.0 }} <br>
    Username: {{ username }} <br>
        {% if user.2 %}
        Name: {{ user.1 }} {{user.2}} {{user.3}}
        {% else %}
        Name: {{ user.1 }} {{user.3}}
        {% endif %}<br>
    Email ID: {{user.4}}<br>
    Contact: {{ contact }}<br>
    Birthdate: {{user.5}}<br>
    Gender: {{ user.6}}<br>
    {% endif %}<br><br>
    
    <form action="/employee/add_traveller" method="post">
    {% csrf_token %}
    <label for="u_name"> User Name: </label>
    <input type="text" name="user_name" id="u_name" required><br><br>
    <label for="f_name"> First Name: </label>
    <input type="text" name="first_name" id="f_name" required> <br><br>
    <label for="m_name"> Middle Name: </label>
    <input type="text" name="middle_name" id="m_name"><br><br>
    <label for="l_name"> Last Name: </label>
    <input type="text" name="last_name" id="l_name" required><br><br>
    <label for="email"> Email ID: </label>
    <input type="email" name="email" id="email" required> <br><br>
    <label for="contact"> Contact Number: </label>
    <input type="phone2numeric" name="contact" id="contact"> <br><br>
    <label for="bd"> Birth Date: </label>
    <input type="date" name="birthdate" id="bd"  required> <br><br>
    <label for="gender" required> Gender: </label><br>
    <input type="radio" name="gender" id="male" value="0"> Male <br>
    <input type="radio" name="gender" id="female" value="1"> Female <br><br>
    <label for="pswd"> Password: </label>
    <input type="password" name="password" id="pswd"><br><br>
    <input type="submit" value="Add Traveller">
    </form>
    <br><br>
</body>
</html>