<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Explore Tours </title>
</head>
<body  style="background-color: #ADD8E6; text-align: center;">
    <div style="background-color: bisque; border: 1px solid black; border-radius: 5px; width: 60%; margin: 0 auto; padding:10px">
    <form action="" method="post">
    {% csrf_token %}
    <label for="vehicle" style ="margin-left:-100px"> Preferred Mode of travel(s):</label>
    <input type="checkbox" id="vehicle" name="vehicle" value="Bus" style ="margin-left:5px">
    <label for="vehicle1"> Bus </label><br>
    <input type="checkbox" id="vehicle" name="vehicle" value="Train" style ="margin-left:97px">
    <label for="vehicle3"> Train </label><br>
    <input type="checkbox" id="vehicle" name="vehicle" value="Car" style ="margin-left:84px">
    <label for="vehicle2"> Car </label><br>
    <input type="checkbox" id="vehicle" name="vehicle" value="Aeroplane" style ="margin-left:125px">
    <label for="vehicle3"> Aeroplane </label><br>
    <input type="checkbox" id="vehicle" name="vehicle" value="Cruisse" style ="margin-left:106px">
    <label for="vehicle3"> Cruisse </label><br><br>

    <label for="d"> Start Date between: </label>
    <input type="date" name="s_date" id="d">
    and
    <input type="date" name="e_date" id="d"><br><br>
    
    <label for="amnt_range"> Maximum Package Amount: </label>
    <input type="number" name="e_amnt" id="amnt_range"><br><br>
    
    <label for="places"> One of the place from (give input seperated by comma):</label><br>
    <textarea name="places" id="places" cols="40" rows="6"></textarea><br><br>

    <label for="acts"> One of the Activity from (give input seperated by comma):</label><br>
    <textarea name="activities" id="acts" cols="40" rows="6"></textarea><br><br>

    <input type="submit" value="Filter tours" style = "font-size:20px; border-radius:5px; border-color:darkgray; width:4.5cm; margin-bottom:30px">

    </form></div><br><br>
    
    {% if tours %}
    {% for t in tours %}
    <div style="background-color: bisque; border: 1px solid black; border-radius: 5px; width: 60%; margin: 0 auto; padding:10px">
    Package Name: {{t.1}}<br>
    Places: {{t.15}}<br>
    Activities: {{t.16}} <br>
    Start Date: {{t.11}} at {{t.12}} <br>
    Duration: {{t.4}} days<br>
    Mode of Travel: {{t.3}}<br>
    Rating: {{t.6}} out of 5 <br>
    Package Amount(per sheet): {{t.5}} ruppes <br>
    Available Seats: {{t.13}} <br> 
    Is Guide Available: {% if t.7 %} YES {% else %} NO {% endif %} <br>
    Contact: {{t.17}}
    </div><br>{% endfor %}
    {% endif %}
</body>
</html>