<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Travel History </title>
</head>
<body>
    <form method="POST" action="/traveller/travel_history">
    {% csrf_token %}
    <label for="id"> Traveller_id: </label><br>
    <input type="number" id="id" name="user_id"><br><br>
    <input type="submit" value='Get travel History'>    
    </form>
    <div>
    {% if travel_history %}
    {% for row  in travel_history %}
    <div> {{row.0}} </div>
    <div> {{row.1}} </div>
    <div> {{row.2}} </div>
    <div> {{row.3}} </div>
    {% endfor %}
    {% endif %}
    </div>
</body>
</html>