{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Traveller Home page </title>

</head>
<body>
    <p>Hello, Below are some Traveller's Functionality ! </p><br>
    <a href="travel_history"> Previously Enjoyed Tours </a><br>
    <a href="upcoming_tours"> Upcoming Tours </a><br>
    <a href="add_traveller"> Add a new Traveller </a><br>
</body>
</html>