{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Traveller Home page </title>

</head>
<body  style="background-color: #ADD8E6; text-align: center;">
    <div style="background-color: bisque; border: 1px solid black; border-radius: 5px; width: 60%; margin: 0 auto; padding:10px">
    <h1> Traveller </h1><br>
    <form action="travel_history">
        <input type="submit" value="Previously Enjoyed Tours" style = "font-size:22px; border-radius:5.px; border-color:darkgray; width:8cm;">
    </form><br>
    <form action="upcoming_tours">
        <input type="submit" value="Upcoming Tours" style = "font-size:22px; border-radius:5px; border-color:darkgray; width:8cm;">
    </form><br>
    <form action="explore_tours">
        <input type="submit" value="Explore Tour Packages" style = "font-size:22px; border-radius:5px; border-color:darkgray; width:8cm; margin-bottom:30px">
    </form>
    </div>
</body>
</html>