<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Travel History </title>
</head>
<body>
    <form method="POST" action="travel_history">
    {% csrf_token %}
    <label for="id"> Traveller_id: </label><br>
    <input type="number" id="id" name="user_id"><br><br>
    <input type="submit" value='Get travel History'>    
    </form>
    <div>
    <br><br>
    {% if travel_history %}
    {% for row in travel_history %}
    <div> Start Date: {{row.0}} </div>
    <div> Visited Places: {{row.1}} </div>
    <div> Mode of travel: {{row.2}} </div>
    <div> Duration of tour: {{row.3}} </div>
    <div> Registered seats: {{row.4}} </div>
    <div> Payment amount: {{row.5}} </div>    
    <div> Payment date: {{row.6}} at {{row.7}} </div>    
    <div> Payment mode: {{row.8}}</div>    
    <br><br>
    {% endfor %}
    {% endif %}
    </div>
</body>
</html>