<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Travel History </title>
</head>
<body style="background-color: #ADD8E6; text-align: center;">
        <div style="background-color: bisque; border: 1px solid black; border-radius: 5px; width: 35%; margin: 0 auto; padding:10px">
        <form method="POST" action="travel_history">
        {% csrf_token %}
        <label for="id"> Traveller ID: </label><br>
        <input type="number" id="id" name="user_id"><br><br>
        <input type="submit" value='Get travel History' style = "font-size:16px; border-radius:5px; border-color:darkgray; width:5cm; margin-bottom:15px">    
        </form>
        </div><br><br>
        {% if travel_history %}
            <h3> Traveller ID: {{ traveller_id}} </h3>
            <h3> Travel History: </h3>
            {% for row in travel_history %}
                <div style="background-color: bisque; border: 1px solid black; border-radius: 5px; width: 60%; margin: 0 auto; padding:10px">
                    <div> Start Date: {{row.0}} </div>
                    <div> Visited Places: {{row.1}} </div>
                    <div> Mode of travel: {{row.2}} </div>
                    <div> Duration of tour: {{row.3}} </div>
                    <div> Registered seats: {{row.4}} </div>
                    <div> Payment amount: {{row.5}} </div>    
                    <div> Payment date: {{row.6}} at {{row.7}} </div>    
                    <div> Payment mode: {{row.8}}</div>
                </div><br>
            {% endfor %}
        {% endif %}      
</body>
</html>