<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Upcoming Tours </title>
</head>
<body  style="background-color: #ADD8E6; text-align: center;">
        <div style="background-color: bisque; border: 1px solid black; border-radius: 5px; width: 35%; margin: 0 auto; padding:10px">
        <form method="POST" action="/traveller/upcoming_tours">
        {% csrf_token %}
        <label for="id"> Traveller ID: </label><br>
        <input type="number" id="id" name="user_id"><br><br>
        <input type="submit" value='See upcoming Tours' style = "font-size:16px; border-radius:5px; border-color:darkgray; width:5cm; margin-bottom:15px">    
        </form></div>
        <br><br>
    {% if upcoming_tours %}
        <h3> Traveller ID: {{ traveller_id}} </h3>
    
        <h3>Upcoming Tours:</h3>
        {% for row in upcoming_tours %}
            <div style="background-color: bisque; border: 1px solid black; border-radius: 5px; width: 60%; margin: 0 auto;">
                <div> Start Date: {{row.0}} </div>
                <div> Start Time: {{row.9}} </div>
                <div> Places to visit: {{row.1}} </div>
                <div> Mode of travel: {{row.2}} </div>
                <div> Duration of tour: {{row.3}} </div>
                <div> Registered seats: {{row.4}} </div>
                <div> Payment amount: {{row.5}} </div>    
                <div> Payment date: {{row.6}} at {{row.7}} </div>    
                <div> Payment mode: {{row.8}}</div> 
            </div>   
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>